<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.klxc.dao.LeaderMapper">

    <select id="getCityLListById" resultType="com.klxc.pojo.LeaderInfo">
		select * from xc_leader_city where user_id=#{0}
	</select>

    <select id="getAreaLListById" resultType="com.klxc.pojo.LeaderInfo">
		select * from xc_leader_area where user_id=#{0}
	</select>

</mapper>