<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.klxc.dao.PayMapper">

    <select id="getCount" resultType="int">
		select count(*) from xc_pay_list ORDER BY create_time desc
	</select>

    <select id="getPayList" resultType="com.klxc.pojo.Pay">
		select * from xc_pay_list ORDER BY create_time desc limit #{0},#{1}
	</select>

    <select id="getCountById" resultType="int">
		select count(*) from xc_order_list ol, coach_info ci, xc_pay_list pl
		where ol.coach_tid=ci.tid and ol.tid = pl.order_tid and ci.create_id=#{0}
	</select>

    <select id="getPayListById" resultType="com.klxc.pojo.Pay">
		select pl.* from xc_order_list ol, coach_info ci, xc_pay_list pl
		where ol.coach_tid=ci.tid and ol.tid = pl.order_tid and ci.create_id=#{0} 
		ORDER BY create_time desc limit #{1},#{2}
	</select>

</mapper>