<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.klxc.dao.RebateMapper">

    <select id="getCount" resultType="int">
		select count(*) from city_info
	</select>

    <select id="getCityRebateList" resultType="com.klxc.pojo.CityRebate">
		select * from city_info limit #{0},#{1}
	</select>

    <insert id="addCityRebate" parameterType="com.klxc.pojo.CityRebate">
		insert into city_info
		(city_name, city_rebate)
		values
		(#{city_name},#{city_rebate})
	</insert>

    <delete id="delRebate">
		delete from city_info
		where tid=#{0}
	</delete>

</mapper>