<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.klxc.dao.TabMapper">

    <select id="getTabList" resultType="com.klxc.pojo.TabBean">
		select * from xc_mng_tab
	</select>

    <select id="getFunList" resultType="com.klxc.pojo.FunBean">
		select * from xc_mng_function
	</select>

</mapper>