<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.klxc.dao.UserMapper">

    <select id="getUser" resultType="com.klxc.pojo.User">
        select u.*, ur.tabinfo AS tabInfo
        from xc_mng_users AS u, xc_mng_user_role AS ur
        where u.role = ur.id and u.username = #{userName} and u.password = #{password}
    </select>
    
    <select id="getAllUserList" resultType="com.klxc.pojo.User">
        select u.*, ur.name as userRoleStr from xc_mng_users u, xc_mng_user_role ur where u.role = ur.id
    </select>

    <select id="getUserInfo" resultType="com.klxc.pojo.User">
        select * from xc_mng_users where nickname = #{nickname}
    </select>

    <select id="getUserById" resultType="com.klxc.pojo.User">
        select * from xc_mng_users where id = #{id}
    </select>

    <insert id="addUser" parameterType="com.klxc.pojo.User" useGeneratedKeys="true" keyProperty="id">
        insert into xc_mng_users
        (username, password, nickname, userType, role, phone, createTime)
        values
        (#{username},#{password},#{nickname},#{userType},#{role},#{phone},#{createTime})
    </insert>

    <update id="uptUser" parameterType="com.klxc.pojo.User">
        update xc_mng_users
        set nickname = #{nickName},phone = #{phone}
        where id = #{id}
    </update>

    <update id="uptPwd">
        update xc_mng_users set password=#{password} where id=#{id}
    </update>

</mapper>